*{
    margin: 0;
    padding: 0;
}
/* Header content styles */
header{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Add position relative */
}

.header-content {
    position: relative; /* Set position to relative for absolute positioning */
    text-align: center;
    margin-top: 50px; /* Adjust margin-top as needed */
}


/* Image styles */
img {
    position: relative;
    height: auto;
    display: block;
    max-width: 50%;
    margin: 10 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add margin-top to create space between the image and the header */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 0; /* Ensure the image is behind the button */
    right: 0;
}
.header-content p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-right: 700px;
}


nav {
    position: absolute; /* Position the nav bar absolutely */
    top: 60px; /* Distance from the top */
    right: 50px; /* Distance from the left */
}

ul {
    list-style-type: none; /* Remove bullet points */
    margin: 20px;
    padding: 0;
    font-size: 20px;

}

li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add space between list items */
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: burlywood;
}
.header-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
    justify-content: center; /* Center-align items horizontally */
    align-items: center; /* Center-align items vertically */
    margin-top: 50px;
}

.header-content img {
    width: 45%; /* Adjust width as needed */
    margin: 10px; /* Add some margin around each image */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content p {
    width: 45%; /* Adjust width as needed */
    margin: 10px; /* Add some margin around each paragraph */
    font-size: 10px;
    font: italic small-caps bold 30px/2 cursive;
    text-align: left; /* Align text to the left */
}
header h1{
    font-size: 70px;
    padding-right: 10px; /* Correct padding property */
    position:relative; /* Add position absolute */
    top: 20px; /* Position the h1 at the top */
    left: -420px; /* Position the h1 at the left */
}
hr {
    width: 1200px; /* Adjust the width of the line */
    height: 5px; /* Adjust the height of the line */
    background-color: #333; /* Set the color of the line */
    margin: 20px auto; /* Adjust margin to center the line horizontally */
    border: none; /* Remove any default border */
}
.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info p {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.contact-info p:first-child {
    font-weight: bold;
    margin-bottom: 15px;
}

